In [1]:
import pandas as pd

In [3]:
# Leer el archivo CSV en un DataFrame
df = pd.read_csv('TB_DIGTEL_ANEMIA_TAMIZAJE.csv')

# Mostrar las primeras filas del DataFrame
df.head()

,id_persona,Edad,Tipo_edad,Sexo,id_ubigeo,Fecha_atencion,Etapa,Diagnostico,Tipo_Dx,id_eess
0,41240387,21,A,F,1126.0,20210312,18a-29a,85018.0,D,16370
1,38922963,1,A,F,1497.0,20210419,00a-11a,85018.0,D,242
2,39389813,6,M,F,1128.0,20210319,00a-11a,85018.0,D,446
3,41237370,23,A,F,1604.0,20210413,18a-29a,85018.0,D,2021
4,41237370,23,A,F,1604.0,20210203,18a-29a,85018.0,D,2021

In [4]:
# Contar los valores únicos en cada columna
conteo_valores_unicos = df.nunique()

# Mostrar el conteo
print(conteo_valores_unicos)

id_persona        1292535
Edad                   99
Tipo_edad               3
Sexo                    2
id_ubigeo            1862
Fecha_atencion        550
Etapa                   5
Diagnostico             2
Tipo_Dx                 2
id_eess              8220
dtype: int64

In [5]:
# Obtener los valores únicos de una columna específica (por ejemplo, 'columna_ejemplo')
valores_unicos = df['Tipo_edad'].unique()

# Mostrar la lista de valores únicos
print(valores_unicos)

['A' 'M' 'D']

In [6]:
valores_unicos = df['Sexo'].unique()

# Mostrar la lista de valores únicos
print(valores_unicos)

['F' 'M']

In [7]:
valores_unicos = df['Etapa'].unique()

# Mostrar la lista de valores únicos
print(valores_unicos)

['18a-29a' '00a-11a' '30a-59a' '12a-17a' '60a+']

In [8]:
valores_unicos = df['Diagnostico'].unique()

# Mostrar la lista de valores únicos
print(valores_unicos)

[85018.   85018.01]

In [9]:
valores_unicos = df['Tipo_Dx'].unique()

# Mostrar la lista de valores únicos
print(valores_unicos)

['D' 'P']

In [13]:
# Contar los valores nulos en cada columna
valores_nulos = df.isnull().sum()

# Mostrar el conteo de valores nulos
print(valores_nulos)

id_persona            0
Edad                  0
Tipo_edad             0
Sexo                  0
id_ubigeo         12494
Fecha_atencion        0
Etapa                 0
Diagnostico           0
Tipo_Dx               0
id_eess               0
dtype: int64

In [14]:
df.shape

(1886789, 10)

In [15]:
df = df.dropna(subset=['id_ubigeo'])

In [16]:
# Contar los valores nulos en cada columna
valores_nulos = df.isnull().sum()

# Mostrar el conteo de valores nulos
print(valores_nulos)

id_persona        0
Edad              0
Tipo_edad         0
Sexo              0
id_ubigeo         0
Fecha_atencion    0
Etapa             0
Diagnostico       0
Tipo_Dx           0
id_eess           0
dtype: int64

In [19]:
df.to_csv('dataset_limpio.csv', index=False)

# Mostrar un mensaje de éxito
print("El DataFrame ha sido exportado a un archivo CSV correctamente.")

El DataFrame ha sido exportado a un archivo CSV correctamente.

In [20]:
# Selecciona la columna de interés, por ejemplo 'Sexo'
conteo_valores = df['Diagnostico'].value_counts()

# Mostrar el conteo de cada valor único
print(conteo_valores)

Diagnostico
85018.00    1716452
85018.01     157843
Name: count, dtype: int64